[Unit]
Description=mcro - macros and shortcuts

[Install]
WantedBy=default.target

[Service]
Environment="RUST_LOG=debug"
ExecStart=%h/.cargo/bin/mcro
Restart=on-failure
RestartSec=1
